<a href="https://colab.research.google.com/github/ViniciusAugustoo/Hello-world/blob/main/ESTUDANDO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
FOR

NameError: name 'FOR' is not defined

In [ ]:
nota = media = soma = 0
for _ in range(1, 6):
   nota = float(input("digite a nota "))
   soma += nota

   print (soma)

   media = soma /5
   print ('a media é', media)

digite a nota 5
5.0
a media é 1.0
digite a nota 5
10.0
a media é 2.0
digite a nota 5
15.0
a media é 3.0
digite a nota 5
20.0
a media é 4.0
digite a nota 5
25.0
a media é 5.0

IMPORTAÇÃO DE BIBLIOTECAS

In [ ]:
pip install plotly --upgrade

Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.15.0)
Collecting plotly
  Downloading plotly-5.23.0-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (24.1)
Downloading plotly-5.23.0-py3-none-any.whl (17.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 48.5 MB/s eta 0:00:00
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.15.0
    Uninstalling plotly-5.15.0:
      Successfully uninstalled plotly-5.15.0
Successfully installed plotly-5.23.0

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

Base de dados de crédito
Fonte (adaptado): https://www.kaggle.com/laotse/credit-risk-dataset

[ ]

In [ ]:
from google.colab import drive
drive.mount('/content/credit_data')

Exploração de dados

In [ ]:
base_credit = pd.read_csv('/content/credit_data.csv')

visualização de dados

In [ ]:
base_credit #defaulted

In [ ]:
base_credit.head()

In [ ]:
base_credit.tail()

In [ ]:
base_credit.describe()

In [ ]:
base_credit[base_credit['income'] >= 69995.685578]

In [ ]:
base_credit [base_credit['loan'] <= 1.3776301]

visualização de dados

In [ ]:
np.unique(base_credit['default'], return_counts=True)

In [ ]:
sns.countplot(x = base_credit['default']);

In [ ]:
plt.hist(x = base_credit['age']);

In [ ]:
plt.hist(x = base_credit['income']);

In [ ]:
plt.hist(x = base_credit['loan']);

In [ ]:
grafico = px.scatter_matrix(base_credit, dimensions=['age','income', 'loan'], color = 'default')
grafico.show()

Tratamento de valores inconsistentes

In [ ]:
base_credit.loc[base_credit['age'] < 0]

In [ ]:
#apagar a coluna age inteira ( do banco de dados)
base_credit2 = base_credit.drop('age', axis = 1)
base_credit2

In [ ]:
#apagar somento os registros com inconsistencia
base_credit3 = base_credit.drop(base_credit[base_credit ['age'] < 0].index)
base_credit3

In [ ]:
#preencher os dados manualmente (mais confiavel, não a mais viavel)

In [ ]:
#preencher com a media de idades
base_credit.mean()

In [ ]:
base_credit['age'].mean()

In [ ]:
base_credit['age'][base_credit['age'] > 0 ].mean()

In [ ]:
base_credit.loc[base_credit['age'] < 0, 'age' ] = 40.92

In [ ]:
base_credit.loc[base_credit['age'] < 0 ]

In [ ]:
base_credit.head(27)

In [ ]:
base_credit.isnull()

In [ ]:
base_credit.isnull(). sum()

In [ ]:
base_credit. loc[pd.isnull(base_credit['age'])]

In [ ]:
base_credit['age'].fillna(base_credit['age'].mean(), inplace = True)

In [ ]:
base_credit. loc[pd.isnull(base_credit['age'])]

In [ ]:
base_credit.loc[(base_credit['clientid'] == 29) | (base_credit['clientid'] == 31) | (base_credit['clientid'] == 32)]

In [ ]:
base_credit.loc[base_credit['clientid'].isin([29, 31, 32])]

In [ ]:
x_credit = base_credit.iloc[:, 1:4].values
x_credit

In [ ]:
type(x_credit)

In [ ]:
y_credit = base_credit.iloc[:, 4].values
y_credit

In [ ]:
type (y_credit)

Tratamento dos valores faltantes

In [ ]:
base_credit.isnull()

In [ ]:
base_credit.isnull().sum()

In [ ]:
base_credit.loc[pd.isnull(base_credit['age'])]

In [ ]:
base_credit.loc[base_credit['clientid']].isin([29, 31, 32])

DIVISAO ENTRE PREVISORES E CLASSE

In [ ]:
x_credit = base_credit.iloc[:, 1:4].values
x_credit

In [ ]:
type(x_credit)

In [ ]:
y_credit = base_credit.iloc[:, 4].values

In [ ]:
y_credit

In [ ]:
type(y_credit)

In [ ]:
x_credit[:, 0].min()

In [ ]:
x_credit[:, 0].max()

In [ ]:
x_credit[:, 1].min()

In [ ]:
x_credit[:, 1].max()

In [ ]:
x_credit[:, 2].min()

In [ ]:
x_credit[:, 2].max()

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler_credit = StandardScaler()
x_credit = scaler_credit.fit_transform(x_credit)

In [ ]:
x_credit[:, 0].min(), x_credit[:, 1].min(), x_credit[:, 2].min()

In [ ]:
x_credit[:, 0].max(), x_credit[:, 1].max(), x_credit[:, 2].max()

In [ ]:
x_credit

Base de dados do censo

fonte: https://archive.ics.uci.edu/ml/datasets/adult

In [ ]:
base_census = pd.read_csv('/content/census.csv')

In [ ]:
base_census

In [ ]:
base_census.describe()

In [ ]:
base_census.isnull().sum()

visualização de dados census

In [ ]:
np.unique(base_census['income'], return_counts= True)

In [ ]:
sns.countplot(x = base_census['income'])

In [ ]:
plt.hist(x = base_census['age'])

In [ ]:
plt.hist(x = base_census['education-num'])

In [ ]:
plt.hist(x = base_census['hour-per-week'])

In [ ]:
grafico = px.treemap(base_census, path=['workclass', 'age'])
grafico.show()

In [ ]:
rafico = px.treemap(base_census, path=['occupation','relationship'])
grafico.show()

inicio dos estudos py

In [ ]:
lista = []
for _ in range (1, 6):
  valor = int(input('digite um numero: '))
  lista.append(valor)

In [ ]:
print (lista)

In [ ]:
len(lista)

In [ ]:
soma = 0
for valor in lista:
  soma = soma + valor
  print (soma)

In [ ]:
print(soma)

In [ ]:
aluno = {}
for _ in range (1, 4):
    nome = input('digite o nome do aluno:' )
    notas = float(input('digite a nota do aluno: '))
    aluno[nome] = notas

In [ ]:
aluno

In [ ]:
aluno['fabin']

In [ ]:
aluno.values()

In [ ]:
soma = 0
for nota in aluno.values():
   soma += nota
   print('media', soma /3)

In [ ]:
import numpy as np
np.array(lista).sum()

In [ ]:
matriz = np.array([[3, 4, 1],[3, 1, 5]])
matriz

In [ ]:
matriz.shape

In [ ]:
soma = 0
for i in range (matriz.shape[0]):
    for j in range (matriz.shape[1]):

      soma += matriz [i][j]
      print ('soma', soma)

**funçoes python**

In [ ]:
def mensagem():
  print('texto da função')

In [ ]:
mensagem()

In [ ]:
def mensagem(texto):
   print (texto)

In [ ]:
mensagem('texto 1')
mensagem('texto 2')
mensagem('texto 3')

In [ ]:
def soma (a, b):
  print(a + b)

In [ ]:
soma(2, 3)

In [ ]:
soma (3, 3)

In [ ]:
soma (1, 2)

In [ ]:
def soma(a, b):
  return (a + b)

In [ ]:
soma (3, 2)

In [ ]:
r = soma (3, 2)

In [ ]:
print (r)

In [ ]:
def calcula_energia_potencial_gravitacional(m, h, g = 10):
  e = g * m
  return e

In [ ]:
calcula_energia_potencial_gravitacional(30, 12)

In [ ]:
calcula_energia_potencial_gravitacional(30, 12, 9.8)

In [ ]:
def ler_temperatura():
   temperatura = float(input('digite o valor da temperatura em graus celsius: '))
   return temperatura

In [ ]:
def converter(temperatura_celsius):
  temperatura_f = (9 * temperatura_celsius + 160)/5
  return temperatura_f

In [ ]:
def mostrar (temperatura_f):
  print (temperatura_f)

In [ ]:
temperatura_c = ler_temperatura()
temperatura_f = converter(temperatura_c)
mostrar(temperatura_f)

In [ ]:
def leitura():
  velocidade = float(input('digite a velocidade:'))
  tempo = float(input('digite o tempo:'))
  return velocidade, tempo

In [ ]:
def calcula_distancia(velocidade, tempo):
  return tempo * velocidade

In [ ]:
def calcula_litros(distancia):
  return distancia / 12

In [ ]:
def imprimir(velocidade, distancia, tempo, litros):
   print('velocidade' , velocidade)
   print('distancia' , distancia)
   print('tempo' , tempo)
   print('litros' , litros)

In [ ]:
v, t = leitura()
d = calcula_distancia(v, t)
q = calcula_litros(d)
imprimir(v, d, t, q)

BIBLIOTECA MATH

In [ ]:
import math

In [ ]:
math.sqrt(9)

In [ ]:
math.sin(45)

In [ ]:
math.cos(45)

In [ ]:
math.log(1000, 10)

In [ ]:
math.pi

Biblioteca datetime

In [ ]:
import datetime

In [ ]:
dir(datetime)

In [ ]:
datetime.date.today()

In [ ]:
datetime.datetime.now()

In [ ]:
data = datetime.date(2024, 8, 7)

In [ ]:
data

In [ ]:
data.day

In [ ]:
data.month

In [ ]:
data.year

In [ ]:
horario = datetime.datetime (2024, 8, 7, 7, 8, 0)

In [ ]:
horario

In [ ]:
horario.hour

In [ ]:
horario.minute

In [ ]:
horario.second

Biblioteca random

In [ ]:
import random

In [ ]:
random.random()

In [ ]:
random.randint(1, 5)

In [ ]:
random.randrange(0, 10, 2)

In [ ]:
random.randrange(0, 10, 3)

In [ ]:
x = ['k', 'd', '13', '34']
x

In [ ]:
random.choice(x)

Biblioteca time

In [ ]:
import time as tm

In [ ]:
tm.time()

In [ ]:
tm.localtime()

In [ ]:
antes = tm.time()
lista = []
for i in range (0, 10000):
    lista.append(i)
    depois = tm.time()

In [ ]:
intervalo = depois - antes
print(f'tempo: {intervalo}segundos')

In [ ]:
print('finalizando...')
tm.sleep(2)
print('...')
tm.sleep(2)
print('ate a proxima')

In [ ]:
print = (3/0)

In [ ]:
2.3 / 'cachorro'

In [ ]:
c = [1, 2, 3, 4, 5]
c

In [ ]:
c[5]

In [ ]:
while True:
     try:
        n = int(input('digite um numero inteiro: '))
     except:
        print('valor invalido')
     else:
        print(f'valor digitado é {n}')
        break

In [ ]:
while True:
  try:
    p = int(input('digite um numero inteiro:'))
  except ValueError:
      print('valor invalido')
  except KeyboardInterrupt:
        print('usuario interrompeu a execução')
        break
  else:
          print(f'valor digitado é {p}')
          break